#Project specific
UnitTest++.vsnet2010.sdf
UnitTest++.opensdf

#ignore thumbnails created by windows
Thumbs.db

#ignore Mercurial files
.hg/
.hgignore

#Ignore files build by Visual Studio
# */*.lib
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pyc
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vcproj.*
*.vcxproj.filters
*.vcxproj.user
*.ipch
ipch/
_UpgradeReport_Files/

# Linux compile
*.a
*.la
*.lo
*.Po
*.Plo
*.o
*.so
*.so.*
*_debug
core
*.pc
*.gch

# Log dump files
report_refused
report_failed
exception_catched
*.stat
*.log
log.txt

# Mac OS X garbage
.DS_Store

# Vim and kwrite cache
*~

# Kdevelop4 garbage
*.kdev4
.kdev4

# Python cache
*.pyd
*.pyc

# Qt compiler
moc_*.cpp
*.moc